# 由 common 的 justarod.accessWideners.accessWidener 转换而来
# accessible method LivingEntityRenderer.addLayer
public net.minecraft.client.renderer.entity.LivingEntityRenderer addLayer(Lnet/minecraft/client/renderer/entity/layers/RenderLayer;)Z
# accessible field LivingEntity.useItem
public net.minecraft.world.entity.LivingEntity useItem
# accessible method GameRenderer.loadEffect
public net.minecraft.client.renderer.GameRenderer loadEffect(Lnet/minecraft/resources/ResourceLocation;)V
